.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Georgia;
}
.App-logo {
  height: 80px;
  margin-left: -5px;
  margin-top: 15px;
}
#root {
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
}
main {
  width: 100%;
  height: 100%;
  max-width: 750px;
  margin: auto;
}
header {
  text-align: left;
  display: flex;
  flex-direction: column;
}
header a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

header h1 {
  margin: 0;
  color: black;
  display: none;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hamburger {
  position: absolute;
  top: 9px;
  right: 10px;
  height: 45px;
  width: 45px;
  border: 5px double;
}

.hamburger:active ~ ul li {
   transform: translateY(0);
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  background-color: black;
}

nav ul li a:hover {
  color: black;
  background-color: white;
}
nav ul {
  display: none;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  position: fixed;
  right: 0;
  top: 50px;
  width: 60%;
  border: 2px solid black;
}

nav ul li {
  width: 100%;
  text-align: center;
  transition: transform 0.5s linear;
}

footer {
  font-size: 10px;
  background-color: rgba(0,0,0,1);
  color: white;
  padding: 5px 0;
  align-self: flex-end;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .App-logo {
    margin-top: 35px;
    margin-bottom: -3px;
  }
  body {
    margin-top: 10px;
  }
  header {
    text-align: center;
    flex-direction: column;
  }

  header h1 {
    display: block;
  }

  nav ul {
    display: flex;
    position: inherit;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    top: 70px;
    margin: 5px auto;
  }
}
