.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Georgia;
}
.App-logo {
  height: 80px;
  margin-bottom: -15px;
  margin-left: -5px;
}
#root {
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
}
main {
  max-width: 750px;
  margin: auto;
}
header {
  text-align: left;
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0;
  display: none;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
}

.hamburger:active ~ ul li {
   transform: translateY(0);
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  background-color: black;
}

nav ul li a:hover {
  color: black;
  background-color: white;
}
nav ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  position: fixed;
  right: 0;
  top: 50px;
  width: 60%;
  border: 2px solid black;
}

nav ul li {
  width: 100%;
  text-align: center;
  transition: transform 0.5s linear;
}

footer {
  font-size: 10px;
  background-color: rgba(0,0,0,1);
  color: white;
  padding: 5px 0;
  align-self: flex-end;
  width: 100%;
  text-align: center;
}

main {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  header {
    text-align: center;
    flex-direction: column;
  }

  header h1 {
    display: block;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    border: 2px solid black;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    background-color: black;
  }

  nav ul li a:hover {
    color: black;
    background-color: white;
  }
  nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 0;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  footer {
    font-size: 10px;
    background-color: rgba(0,0,0,1);
    color: white;
    padding: 5px 0;
    align-self: flex-end;
    width: 100%;
    text-align: center;
  }

  main {
    height: 100%;
  }
}
